@import 'components/clothing';

$global-font-size: 100%;
$global-width: rem-calc(1100);
$global-lineheight: 1.5;
$primary: #432E41; //deep tuscan red
$primary-color: $primary;
$primary-dark: darken($primary, 3%);
$secondary: #27D0B9; //copper rose
$secondary-color: $secondary;
$accent: #DDC8C4; //dust storm
$accent-dark: darken($accent, 3%); 
$accent-secondary: #F1F9ED;
$success: #3adb76;
$warning: #ffae00;
$alert: #ec5840;
$light-gray: #F5F5F5;
$light: $light-gray;
$medium-gray: #CCCCCC;
$dark-gray: #404040;
$black: #13070C;
$white: #fefefe;
$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;
$global-flexbox: false;
$print-transparent-backgrounds: true;
$bold: 600;

/*Global Styles*/
.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;

  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

